@model IEnumerable<ContaViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <a asp-action="Add">Criar Novo</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayName("Id")</th>
            <th>@Html.DisplayName("Nome")</th>
            <th>@Html.DisplayName("Descricao")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model) {
        <tr>
            <td>@row.Id</td>
            <td>@row.Nome</td>
            <td>@row.Descricao</td>
            <td>
                <a asp-action="Edit" asp-route-id="@row.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@row.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>